# Папка с виртуальным окружением Python
venv/
.env/
.venv/

# Файлы кэша Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
src/*.egg-info/

# Файлы настроек PyCharm
../.idea/
*.iml

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы с секретными данными
.env
*.key
*.pem

# Логи
logs/
*.exe
*.msi

# Временные файлы
*.tmp
*.temp

data/embeddings
